.login_page{

 height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  height:50px;
  margin-right: 10px;
}

.button{
  display: flex;
  
}
.phase2{
  // text-align: center;
  width:50%
}

.phase1{
  // text-align: center;
 width:50%
}
.container {
  width: 100%;
  max-width: 880px;
}

.card {
  background: #111827;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
}

.card h2 {
  // text-align: center;
  color: #38bdf8;
  margin-bottom: 30px;
}
.card h3 {
  // text-align: center;
  color: #bdc2c4;
  margin-bottom: 30px;
}

.input-group {
  position: relative;
  margin-bottom: 25px;
}

.input-group input {
  width: 90%;
  padding: 10px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #374151;
  color: #fff;
  font-size: 16px;
  outline: none;
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 0;
  color: #9ca3af;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.3s;
}

.input-group input:focus + label,
.input-group input:valid + label {
  top: -5px;
  font-size: 12px;
  color: #38bdf8;
}

.btn {
  width: 100%;
  padding: 12px;
  background: #38bdf8;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #0ea5e9;
}

.toggle {
  margin-top: 20px;
  text-align: center;
  color: #9ca3af;
}

.toggle a {
  color: #38bdf8;
  text-decoration: none;
  font-weight: bold;
}

.hidden {
  display: none;
}