.navbar{

display:flex;
flex-direction: column;
width: 20%;
background-color: black;
color: aliceblue;
overflow-y: auto;
max-height: 90vh;


}

.total_bar{

display:flex;
flex-direction: row;



}
.content_show{

    display: flex;
   width: 80%;
    justify-self: flex-end;
    overflow-y: auto;
    max-height: 90vh;
}

.content_data{

width:100%;

}
.content_topic{
  color: aliceblue;
  padding: 10px;
  margin: 0px;
  border-bottom: solid 0.5px;
  
}
.content_topic:hover{
  color: rgb(45, 145, 232);
 background-color: rgb(109, 113, 117);
  
}